<header class="center"> 
    <img src="./public/assets/img/burgerClock.png" alt="Clock with phrase \"It\'s Burger O\'clock\"."/>
    {{!-- burger picture, centered on top --}}
    <h1>Go on and get you some... burger!</h1>
</header>
<main class="container-lg">
    <div class="burgerLists row">
        <div class="listDiv col align-self-center justify-content-evenly" id="burgers">

        </div>
        <div class="listDiv col align-self-center justify-content-evenly" id="devoured">

        </div>
{{!-- #each for burgers left, buttons for each burger and a #each for devoured on right --}}

{{!-- possible button format: <button class="devourBtn" data-id="(id value from db)" data-devoured="(devoured boolean from db)">then #if devoured show button else hide </button> --}}

    </div>
</main>    
<div class="center">

    {{!-- input box and submit button to add a burger --}}
    {{!-- submit button has id='makeBurger' --}}
</div>


