<header class="center"> 
    <img src="/assets/img/burgerClock.png" alt="Clock with burger on it."/>
    {{!-- burger picture, centered on top --}}
    <h1>It's Burger Time!</h1>
</header>

<main>
    <div class="burgerLists row justify-content-evenly"> 
        <div class="listDiv col align-self-left" id="burgers">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="listDiv col align-self-right" id="devoured">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
        </div>
    </div>
</main>   

<div class="center">
    <h1>What kind of burger would you like to make?</h1>
    <form id="newBurger">
        <div class="form-group">
            <input type="text" id="bg" name="name" placeholder="Burger Name">
            <button type="submit button" for="bg" id="makeBurger">Make your burger</button>
        </div>
        
    </form>

</div>


