<header class="center"> 
    <img src="./public/assets/img/burgerClock.png" alt="Clock with phrase \"It\'s Burger O\'clock\"."/>
    {{!-- burger picture, centered on top --}}
    <h1>It's Burger Time!</h1>
</header>

<main>
    <div class="burgerLists row justify-content-evenly"> 
        <div class="listDiv col align-self-center" id="burgers">
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="listDiv col align-self-center" id="devoured">
                {{#each burger}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
        </div>
    </div>
</main>   

<div class="center">
    <h1>What kind of burger would you like to make?</h1>
    <form id="newBurger">
        <div class="form-group">
            <label for="bg">Burger name:</label>
            <input type="text" id="bg" name="name">
        </div>
        <button type="submit" id="makeBurger">Make your burger</button>
    </form>

</div>


