<header class="container-fluid"> 
    <div class="col-6 mx-auto">
            <img src="/assets/img/burgerClock.png" alt="Clock with burger on it."/>
            <h1>It's Burger Time!</h1>

    </div>
</header>

<main>
    <div class="burgerLists row justify-content-around"> 
        <div class="listDiv col-5 align-self-center" id="burgers">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="listDiv col-5 align-self-center" id="devoured">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
        </div>
    </div>
</main>   

<div class="container-fluid center">
    <div class="col-6 mx-auto">
        <h2>What kind of burger would you like to make?</h2>
        <form id="newBurger">
            <div class="form-group">
                <input type="text" id="bg" name="name" placeholder="Burger Name">
                <button type="submit" class="btn btn-fancy btn-lg" for="bg" id="makeBurger">Make your burger</button>
            </div>
        </form>
    </div>
</div>


