body {
    background-color: cornflowerblue;
};

.center {
    justify-content: center;
    
};

.listDiv {
    display: inline-block;
    width: 50%;
    height: auto;
    padding: 10px;

};

/* css from catApp */
/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  } */