body {
    background-color: rgba(237, 238, 174, 0.5);
};

.center {
    justify-content: center;
    
};

/* .burgerLists {
} */

.listDiv {
    display: inline-block;
    width: 45%;
    height: auto;
    padding: 10px;
    margin: auto;

};

.burgerBox {
  border-top: 10px rounded rgba(25, 112, 44, 0.25);
  border-left: 10px rounded rgba(25, 112, 44, 0.25);
  border-right: 25px rounded  rgba(25, 112, 44, 0.75);
  border-bottom: 25px rounded  rgba(25, 112, 44, 0.75);
  background-color: rgba(237, 238, 174, 0.25);
  padding: 25px;
};

.burgerButton {
  background-color:  rgba(25, 112, 44);
  border-radius: 15px;
  margin: auto;
  float: right;
};

/* css from catApp */
/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  } */