<li>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{ burger_name }}</h5>
            <button class="devourBtn btn btn-success" data-id="{{this.id}}" data-status="{{devour}}">
                DEVOUR IT!
            </button>
        </div>
    </div>
</li>


