<dt>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{ burger_name }}</h5>
            <button class="deleteBtn btn btn-success" data-id="{{this.id}}">DELETE IT!</button>
        </div>
    </div>
</dt>

